*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

header{
   background-color: antiquewhite; 
   padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    margin-right: 25px;
}

.menu__item{
    font-size: 16px;
    color: brown;
    font-weight: 900;
    border-bottom: 2px solid transparent;
}

.menu__item:hover{
    color: rgb(46, 42, 165);
    border-bottom: 2px solid rgb(46, 42, 165);
}

.row{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0;
}

.product__card{
    padding: 30px;
    background-color: aquamarine;
    color: rgb(45, 12, 77);
}

.title{
    font-size: 24px;
    font-weight: 900;
    color: rgb(197, 8, 8);
    margin-bottom: 10px;
}

.description{
    font-size: 18px;
    margin-bottom: 15px;
}

.price{
    font-style: italic;
    text-align: right;
    margin-bottom: 10px;
}

.btn{
    padding: 5px 15px;
    background-color: rgb(58, 135, 135);
    color: rgb(235, 223, 223);
}

.btn:hover{
    background-color: rgb(235, 223, 223);
    color:  rgb(58, 135, 135);
}

.cart__row{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
}
/* Cart styles */
.cart__card{
    display: flex;
    padding: 5px 0;
    align-items: center;
}

.cart__title{
    font-size: 26px;
    font-weight: 900;
    color: #61083d;
    margin-right: 30px;
}

.cart__title::before{
    content: 'Название товара:';
    font-size: 20px;
    color: #0e834c;
}

.cart__price{
    font-size: 26px;
    font-weight: 900;
    color: #2e1266;
    margin-right: 30px;
}

.cart__price::before{
    content: 'Стоимость:';
    font-size: 20px;
    color: #0e834c;
}

.total__price{
    text-align: center;
    font-size: 36px;
    color: #000;
    background-color: beige;
    padding: 50px;
}